<div>
	{{> nav }}
</div>
<div class="container">
	<div class="row profile">
		<div class="col-xs-3">
			{{> sidebar }}
		</div>
		<div class="col-xs-9">
			<div class="profile-content" id="background">
		        <div id="login_header">
					{{#unless logged_in}}
						<p><a href="/users/signup-signin">Sign In or Sign Up</a></p>
					{{/unless}}
<<<<<<< HEAD

					{{#if logged_in}}


=======

					{{#if logged_in}}


>>>>>>> master
					<div class="panel panel-default">
	                    <div class="panel-heading text-center">
	                    	<h1 style="text-transform: capitalize;">Welcome {{username}}! </h1>							
							<h3>Your email: {{email}}! </h3>
							<p>Your latitude: {{lat}}.</p>							
							<p>Your longitude: {{lng}}.</p>							
							<p id='username'>{{username}}</p>
	                        
	                    </div>
	                    <div class="panel-body">
	                    	
		                    	<div id="map" style="width: 100%;height: 500px;"></div>
		                    	<div id='inputs'></div>
								<div id='errors'></div>
								<div id='directions'>
								  <div id='routes'></div>
								  <div id='instructions'></div>
<<<<<<< HEAD
								</div>	                       
=======
								</div>	
								<div style='width:200px;height:200px'>
									<h6> Online Users </h6>
									<ul id="onlineUsers">
									</ul>
								</div>                       
>>>>>>> master
								
						<script>
						L.mapbox.accessToken = 'pk.eyJ1IjoiZGltYXNvbCIsImEiOiJjaXZycnFjeG8wM3lwMnpxdGR2ZDc1emU3In0.I-hsvy9AtsWfZozW0-BRjA';
						var map = L.mapbox.map('map','mapbox.streets')
								.addControl(L.mapbox.geocoderControl('mapbox.places', {
								        autocomplete: true }))
								.setView([34.17, -118.51],10);
						var userMarker;
<<<<<<< HEAD
=======
						var truckMarker;
						var trucks;
>>>>>>> master
						var isFound = false;
						var coordinatesUser;
							
						
						var myLayer = L.mapbox.featureLayer().addTo(map);


						// This uses the HTML5 geolocation API, which is available on
						// most mobile browsers and modern browsers, but not in Internet Explorer
						//
						// See this chart of compatibility for details:
						// http://caniuse.com/#feat=geolocation
						if (!navigator.geolocation) {
						    map.innerHTML = 'Please Allow Geolocation';
						} else {
								  map.locate({watch:true, timeout: 1000, frequency:1});						   
						}

						// Once we've got a position, zoom and center the map
						// on it, and add a single marker.
						map.on('locationfound', function(e) {

							var username = document.getElementById('username').textContent;
							coordinatesUser = {latitude: e.latitude,
											  longitude: e.longitude,
											   username};
<<<<<<< HEAD
							console.log('Users Coords' +coordinatesUser);
=======
							//console.log(coordinatesUser);
>>>>>>> master
						    map.fitBounds(e.bounds);
						    map.setZoom(11);
						    myLayer.on('mouseover', function(e) {
							    e.layer.openPopup();
							});
							myLayer.on('mouseout', function(e) {
							    e.layer.closePopup();
							});
						isFound = true;
						   
						   		if(isFound === true){
						$.post('/geolocator', coordinatesUser, function(req,res) {
<<<<<<< HEAD
    						console.log('Post request' +  res);
=======
    						//console.log('Post request' +  res);
>>>>>>> master
    					});

						}
						if(userMarker){
							userMarker.setLatLng( newLatLng = new L.LatLng(coordinatesUser.latitude, coordinatesUser.longitude));
						
						}
						});
					
						
						// move the attribution control out of the way
						map.attributionControl.setPosition('bottomleft');

						// create the initial directions object, from which the layer
						// and inputs will pull data.
						var directions = L.mapbox.directions();

						var directionsLayer = L.mapbox.directions.layer(directions)
						    .addTo(map);

						var directionsInputControl = L.mapbox.directions.inputControl('inputs', directions)
						    .addTo(map);
<<<<<<< HEAD

						var directionsErrorsControl = L.mapbox.directions.errorsControl('errors', directions)
						    .addTo(map);

						var directionsRoutesControl = L.mapbox.directions.routesControl('routes', directions)
						    .addTo(map);

						var directionsInstructionsControl = L.mapbox.directions.instructionsControl('instructions', directions)
						    .addTo(map);

						// If the user chooses not to allow their location
						// to be shared, display an error message.
						map.on('locationerror', function() {
						    map.innerHTML = 'Position could not be found';
						});
						$(document).ready(function(){

						userMarker = L.marker([0, 0]).addTo(map);

						$.get('/loggedinusers', function(data){
							console.log(data);
						})
=======

						var directionsErrorsControl = L.mapbox.directions.errorsControl('errors', directions)
						    .addTo(map);

						var directionsRoutesControl = L.mapbox.directions.routesControl('routes', directions)
						    .addTo(map);

						var directionsInstructionsControl = L.mapbox.directions.instructionsControl('instructions', directions)
						    .addTo(map);

						// If the user chooses not to allow their location
						// to be shared, display an error message.
						map.on('locationerror', function() {
						    map.innerHTML = 'Position could not be found';
						});
						$(document).ready(function(){

						userMarker = L.marker([0, 0]).addTo(map);
						truckMarker = L.marker([0,0]).addTo(map);

						$.get('/loggedinusers', function(data){
							//console.log(data)
							for(i=0;i<data.length;i++){
								$('#onlineUsers').append('<li>' +'<button id="truckUser" value =' +data[i].username + '>' + data[i].username + '</button>' + '</li>')
							};
						})

						function getOnClick(username){
							$.get('/truckUserCoords'+'/' + username, function(data){
								console.log(data[0]);
							if(truckMarker){
							truckMarker.setLatLng( newLatLng = new L.LatLng(data[0].latitude, data[0].longitude));		
							}
							})
						}

						$('body').on('click', '#truckUser', function(){
							trucks = $(this).val();
							setInterval(function(){getOnClick(trucks)},10000);

						});
>>>>>>> master

						});
						</script>
							

	                    </div> <!--panel-body-->
	                </div>

					{{/if}}
				</div>
			</div>
	    </div>          
	</div>


		{{#unless logged_in}}
		  <p>
		    You must login to add a person.
		  </p>
		{{/unless}}
</div>




