<div>
	{{> nav }}
</div>
<div class="container">
	<div class="row profile">
		</div>
		<div class="col-xs-12">
			<div class="profile-content" id="background">
		        <div id="login_header">
					{{#unless logged_in}}
						<p><a href="/users/signup-signin">Sign In or Sign Up</a></p>
					{{/unless}}

					{{#if logged_in}}


					<div class="panel panel-default">
	                    <div class="panel-heading text-center">
	                    	<h1 style="text-transform: capitalize;">Welcome, {{username}}! </h1>							
					{{!-- 		<h3>Your email: {{email}}! </h3>
							<p>Your latitude: {{lat}}.</p>							
							<p>Your longitude: {{lng}}.</p>	 --}}						
							<p id='username'>{{username}}</p>
	                        
	                    </div>
	                    <div class="panel-body">
	                    	
		                    	<div id="map" style="width: 100%;height: 500px;"></div>
		                    	<div id='inputs'></div>
								<div id='errors'></div>
								  <div id='routes'></div>
								  <div id='instructions'></div>
								</div>	
								<div style='width:100%;height:100%'>
								  
										<button type="submit" class="btn btn-block" id="customerRequest">Call a truck</button>
										<h6> Online Users </h6>
										<ul id="onlineUsers">
										</ul>
									</div>                       
								<div style="width:200px;height:200px">
								<h3> Company: </h3> <span id="company"> </span> </br>
								<h3> Request Status: </h3> <span id="requestStatus"> </span> </br>
								</div>
								
						<script>
						L.mapbox.accessToken = 'pk.eyJ1IjoiZGltYXNvbCIsImEiOiJjaXZycnFjeG8wM3lwMnpxdGR2ZDc1emU3In0.I-hsvy9AtsWfZozW0-BRjA';
						var map = L.mapbox.map('map','mapbox.streets')
								.addControl(L.mapbox.geocoderControl('mapbox.places', {
								        autocomplete: true }))
								.setView([34.17, -118.51],10);
						var userMarker;
						var truckMarker;
						var username;
						var trucks;
						var isFound = false;
						var coordinatesUser;
						var coordinatesTruck;
							
						
						var myLayer = L.mapbox.featureLayer().addTo(map);


						// This uses the HTML5 geolocation API, which is available on
						// most mobile browsers and modern browsers, but not in Internet Explorer
						//
						// See this chart of compatibility for details:
						// http://caniuse.com/#feat=geolocation
						if (!navigator.geolocation) {
						    map.innerHTML = 'Please Allow Geolocation';
						} else {
								  map.locate({watch:true, timeout: 1000, frequency:1});						   
						}

						// Once we've got a position, zoom and center the map
						// on it, and add a single marker.
						map.on('locationfound', function(e) {

							username = document.getElementById('username').textContent;
							coordinatesUser = {latitude: e.latitude,
											  longitude: e.longitude,
											   username}
							//console.log(coordinatesUser);
						    map.fitBounds(e.bounds);
						    map.setZoom(11);
						    myLayer.on('mouseover', function(e) {
							    e.layer.openPopup();
							});
							myLayer.on('mouseout', function(e) {
							    e.layer.closePopup();
							});
						isFound = true;
						   
						   		if(isFound === true){
						$.post('/geolocator', coordinatesUser, function(req,res) {
    						//console.log('Post request' +  res);
    					});

						}
						if(userMarker){
							userMarker.setLatLng( newLatLng = new L.LatLng(coordinatesUser.latitude, coordinatesUser.longitude));
						
						}
						});
					
						
						// move the attribution control out of the way
						map.attributionControl.setPosition('bottomleft');

						// create the initial directions object, from which the layer
						// and inputs will pull data.
						var directions = L.mapbox.directions();

					

						// If the user chooses not to allow their location
						// to be shared, display an error message.
						map.on('locationerror', function() {
						    map.innerHTML = 'Position could not be found';
						});
						$(document).ready(function(){
						

							var iconTruck = L.icon({
								iconUrl: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
							})

						userMarker = L.marker([0, 0]).addTo(map);
						truckMarker = L.marker([0,0], {icon: iconTruck}).addTo(map);

						$.get('/loggedinusers', function(data){
							//console.log(data)
							for(i=0;i<data.length;i++){
								$('#onlineUsers').append('<li>' +'<value =' +data[i].username + '>' + data[i].username + '</button>' + '</li>')
							};
						})


						// $('body').on('click', '#truckUser', function(){
						// 	trucks = $(this).val();
						// 	setInterval(function(){getOnClick(trucks)},10000);
						// });

						});


						
						function getOnClick(username){
							$.get('/truckUserCoords'+'/' + username, function(data){
								console.log(data[0]);
							if(truckMarker){
								coordinatesTruck = {latitude: data[0].latitude,
											  longitude:  data[0].longitude};

							truckMarker.setLatLng( newLatLng = new L.LatLng(data[0].latitude, data[0].longitude));	

							}
							})
						}

						function requestStatus(){
							console.log('hit')
							$.get('/getStatus'+'/'+ username, function(data){
							console.log(data);
								$('#company').html(data[0].driverid)
								if(data[0].resolved === true){
								$('#requestStatus').html('On the Way');
								}
								setInterval(function(){getOnClick(data[0].driverid)},10000);
							})

						}

						$('#customerRequest').on('click', function(){
							var helpRequest = {
								username: username,
								latitude: coordinatesUser.latitude,
								longitude: coordinatesUser.longitude
							}
							console.log(helpRequest)
							$.post('/helpRequest', helpRequest , function(data) {
							console.log(data);
							});

							setInterval(function(){requestStatus()}, 10000);
						})

						
						</script>
							

	                    </div> <!--panel-body-->
	                </div>

					{{/if}}
				</div>
			</div>
	    </div>          
	</div>


		{{#unless logged_in}}
		  <p>
		    You must login to add a person.
		  </p>
		{{/unless}}
</div>




